.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #07142B;
  height: 80px;
  padding: 0 100px;
}

.navbar .button {
  padding: 10px 20px;
  font-size: 1.2rem;
  font-weight: bold;
  color: #fff;
  background-color: #110FFA;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.navbar .button:hover{
  background-color: #6A19E3;
}

.logoNav {

  img {
    width: 120px;
    height: 100px;
  }
}