.paperBackDrop {
  color: #07142B;
  width: 490px;
  height: 290px;
}

.circularProgressBackDrop {
  margin-bottom: 20px;
  margin-left: 10px;
}

.typographyBackdrop {
  color: #110FFA;
}

.backdrop {
  z-index: 2000;
  color: #fff,
}