.btn-add {
    width: 150px!important;
    padding: 10px 20px!important;
    font-size: 15px!important;
    background-color: #110FFA!important;
    color: white!important;
}

.btn-add:hover{
    background-color: #110FFA!important;
}