.card {
    background-color: #f1f1f1;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    padding: 20px;
  }
  
  h2 {
    margin-top: 0;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    margin-top: 10px;
  }
  
  input {
    padding: 10px;
    border-radius: 5px;
    border: none;
    margin-bottom: 20px;
  }
  
  button {
    padding: 10px;
    font-size: 1.2rem;
    font-weight: bold;
    color: #fff;
    background-color: #007f56;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  