.card {
    background-color:rgba(255,255,255,0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    padding: 20px;
    width: 50%;
    height: 300px;
  }
  
  h2 {
    margin-top: 0;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    margin-top: 10px;
  }
  
  input {
    padding: 10px;
    border-radius: 5px;
    border: none;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
    width: 20vw;
  }
  
  .card  .btnLogin {
    padding: 10px;
    font-size: 1.2rem;
    font-weight: bold;
    color: #fff;
    background-color: #110FFA;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  .card .btnLogin:hover{
    background-color: #6A19E3;
  }
  