*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-user-select: auto;
  /* Chrome all / Safari all */
  -moz-user-select: auto;
  /* Firefox all */
  -ms-user-select: auto;
  /* IE 10+ */
  user-select: auto;
}

#root {
  height: 100vh;
}


::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #cecece;
}

::-webkit-scrollbar {
  width: 7px;
  height: 7px;
  margin-top: 15px;
  margin-bottom: 15px;
}

::-webkit-scrollbar-thumb {
  border-radius: 15px;
  margin-top: 15px;
  margin-bottom: 15px;
  background-color: rgba(0, 0, 0, 0.5);
}