*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-user-select: auto;
  /* Chrome all / Safari all */
  -moz-user-select: auto;
  /* Firefox all */
  -ms-user-select: auto;
  /* IE 10+ */
  user-select: auto;
}

#root {
  height: 100vh;
}