.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #19F8A6;
  height: 80px;
  padding: 0 20px;
}

.logo {
  font-size: 2rem;
  font-weight: bold;
  color: #fff;
}

.navbar .button {
  padding: 10px 20px;
  font-size: 1.2rem;
  font-weight: bold;
  color: #fff;
  background-color: #1683D9;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.navbar .button:hover{
  background-color: #5324F0;
}